.history-record {
  display: grid;
  grid-template-columns: 1fr 20px 0.7fr 3px 1fr;

  padding: 10px 0;

  color: var(--primary-text-color);

  &__text {
    font-size: 1.25rem;

    &_name {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: 590px) {
      font-size: 1.1rem;
    }
  }

  &__text, &__dividing-line {
    text-align: center;
    &_name {
      text-align: left;
    }
  }
}