.language-manager {
  position: relative;
  display: inline-block;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    z-index: 10;
    overflow: hidden;
  }
}
