.queues {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  @media (max-width: 1090px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  &__blocks {
    min-width: auto;
    width: 100%;
    min-height: 50px;
    max-height: 150px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 0.6rem;

    transition: 0.8s;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
      height: 0px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #999999, $alpha: 0.5);
    }
  }
}