:root {
  --bg-primary: #ffffff;

  --heading-color: #1a365d;
  --primary-text-color: #2d3748;

  --btn-primary-bg: #24a0ed;
  --btn-primary-text: #ffffff;
  --btn-primary-bg-hover: #1c7eb3;
  --btn-primary-bg-active: #153e75;
}
