.home {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
