.streak {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  gap: 0.3rem;

  &__text {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }
}