.main-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25em;

  &__title {
    font-size: 1.5em;
    color: var(--heading-color);
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
