.main-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25em;

  &__title {
    font-size: 1.5em;
    color: var(--heading-color);
  }

  &__cards {
    display: flex;
    gap: 1em;
  }
}
