.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__descript {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    &__title {
      font-size: 3em;
      color: var(--heading-color);
    }
    &__text {
      max-width: 36em;
      font-size: 1.2em;
      color: var(--primary-text-color);
    }
  }

  &__slider {
    &__jpg {
      max-width: 35em;
      max-height: 25em;

      width: 100%;
      height: auto;

      border-radius: 0.5em;

      @media (max-width: 660px) {
        display: none;
      }
    }
  }
}
